<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="import" href="/pub/res.html?__inline">
    <link type="text/css" href="./index.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
</div>
<script></script>
</body>
</html>    